{% extends 'base.html.twig' %}

{% block body %}
<section class="hero-section">
    <div class="container">
        <div class="hero-card">
            <img class="w-80" src="{{ asset('images/sentier.png') }}" alt="sentier avec une fille et un randoudou">
            <h1 class="display-4 fw-bold">Explorez l'Alsace en douceur</h1>
            <p class="lead">Trouvez la randonnée parfaite pour vous et vos proches.</p>
        </div>
    </div>
</section>

<section class="container search-container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <input type="text" class="form-control main-search-bar" placeholder="Où voulez-vous marcher ? (ex: Ribeauvillé, Lac Blanc...)">
        </div>
    </div>
</section>

<main class="container mt-5 pt-4">
    <h2 class="mb-4">Nos randonnées préférées</h2>
    <div class="row">
    {% for hike in hikeList %}
        <div class="col-md-4">
            <div class="hike-card position-relative">
                <span class="badge-difficulty">{{ hike.level }}</span>
                <img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?auto=format&fit=crop&w=500" class="hike-img w-100" alt="Rando">
                <div class="p-3 text-center">
                    <h5 class="fw-bold">{{ hike.name }}</h5>
                    <p class="text-muted small">{{ hike.location.name }} • {{ hike.time }}min • {{ hike.length }}km</p>
                    <a href="{{ path('app_hike_show', {id: hike.id}) }}" class="btn btn-sm btn-outline-dark rounded-pill px-4">Découvrir</a>
                </div>
            </div>
        </div>
        {% else %}
        <li class="list-group-item list-group-item-warning">
            Aucune randonnée disponible
        </li>
    {% endfor %}
    </div>
</main>
{% endblock %}
